.parties {
	margin-bottom: -25px;
}
.parties-container {
	display: flex;
	/* background-color: blue; */
	height: 90%;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 20px;
}
.card_box {
	background-color: rgba(117, 204, 255, 0.219);
	border: 5px black dotted;
	border-style: double;
	border-radius: 75px;
	height: 350px;
	width: 300px;
	display: grid;
	grid-template-rows: 80% 20%;
	margin-bottom: 20px;
}

.party-logo {
	background-size: cover;
	border-radius: 50%;
	transform: scale(0.8);
}
.party-name {
	/* background-color: green; */
	/* color: white; */
	display: flex;
	align-items: center;
	justify-content: center;
}
.h111 {
	color: white;
	text-align: center;
}
.vote-btn {
	background-color: rgb(145, 164, 248);
	transform: scale(1.3);
}
.party-name > .threat_btn {
	justify-content: right;
	margin-left: 15px;
	font-size: 10px;
}

.party-logo1 {
	background-image: url(../images/1.jpg);
}
.party-logo2 {
	background-image: url(../images/2.jpg);
}
.party-logo3 {
	background-image: url(../images/3.jpg);
}
.party-logo4 {
	background-image: url(../images/4.jpg);
}
.party-logo5 {
	background-image: url(../images/5.jpg);
}
.party-logo6 {
	background-image: url(../images/6.jpg);
}
.party-logo7 {
	background-image: url(../images/7.jpg);
}
.party-logo8 {
	background-image: url(../images/8.jpg);
}
.party-logo9 {
	background-image: url(../images/9.jpg);
}
